footer {
    background-color: rgb(81, 81, 81);
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 60px;
    align-items: center;
}
.footer_logo {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}
.footer_logo :hover {
    color:red;
}
.footer_menu {
    margin-right: 50px;
}
.footer_item {
    display: inline-flex;
    margin:  5px 5px 5px 5px;
    background: rgb(81, 81, 81);
}
.footer_item :hover {
    padding: 3px 3px 3px 3px;
    background: rgb(130, 130, 130);
}
.twitter_logo {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 200px;
    background-color: black;
    border-radius: 5px;
    align-items:center;
    justify-content: center;
}
.twitter_logo img {
    width: 20px;
    height: 20px;
}
.youtube_logo {
    display: flex;
    width: 40px;
    height: 30px;
    margin-left: 50px;
    align-items:center;
    justify-content: center;
}
.youtube_logo img {
    width: 40px;
    height: 30px;
}