* {
    margin: 0;
    padding: 0;
}
.index_global  {
    text-align: center;
    background-color:rgb(81, 81, 81);
}
.slider {
    margin: 0 auto;
}
.index_slider {
    width: 80vw;
    padding-left:0;
}
.index_img img {
    max-width: 100%;
    height: auto;
}
.index_movie {
    width: 100%;
    aspect-ratio: 16 / 9;
}
.index_movie iframe {
    width: 80%;
    height: 80%;
}
.thumbnail {
    margin: 10px auto;
    width: 30vw;
}
.thumbnail_img img {
    max-width: 100%;
    height: auto;
}
.thumbnail .slick-track {
    transform:unset!important;
} 
.thumbnail_img {
    opacity: 0.5;
    transition: opacity .3s linear;
}
.thumbnail .slick-current {
    opacity: 1;
}
.thumbnail_img div {
    margin: 5px;
}